<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">

    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="img/footprints.ico">
    <link rel="apple-touch-icon" sizes="76x76" href="img/footprints.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <script type="text/javascript">
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(sendUserLocation, error);
        } else {
            error('Geolocation not supported on this browser.')
        }

        function post(path, params, method) {
            method = method || "post"; // Set method to post by default if not specified.

            // The rest of this code assumes you are not using a library.
            // It can be made less wordy if you use one.
            var form = document.createElement("form");
            form.setAttribute("method", method);
            form.setAttribute("action", path);

            for(var key in params) {
                if(params.hasOwnProperty(key)) {
                    var hiddenField = document.createElement("input");
                    hiddenField.setAttribute("type", "hidden");
                    hiddenField.setAttribute("name", key);
                    hiddenField.setAttribute("value", params[key]);

                    form.appendChild(hiddenField);
                }
            }

            document.body.appendChild(form);
            form.submit();
        }

        function sendUserLocation(position){
            post('/userLocation/', {lat : position.coords.latitude, long : position.coords.longitude});
        }

        // if the user doesn't allow their location to be revealed - should add image inside maps to say "Only available if you let us know your location!"
        function error(msg) {
            console.log(msg);
        }
    </script>

<!--     <script type="text/javascript" async defer src="https://maps.googleapis.com/maps/api/js?key=&libraries=drawing"></script> -->


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <title>Where could I have gone?</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <!-- Bootstrap core CSS     -->
    <link href="CSS/bootstrap.min.css" rel="stylesheet" />
    <link href="CSS/paper-kit.css?v=2.1.0" rel="stylesheet" />

    <!--     Fonts and icons     -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,300,700' rel='stylesheet' type='text/css'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href="CSS/nucleo-icons.css" rel="stylesheet"/>


    <!-- Google Maps Initialization -->
    <meta name="viewport" content="initial-scale=1.0">


    <title>WhereCouldIHaveGone</title>
    <style>
        /* Always set the map height explicitly to define the size of the div
           * element that contains the map. */
          #map1,#map2 {
            height: 300px;
          }

          h2{
            margin-bottom: 30px;
          }

          .presentation-title{
            margin-bottom: 131px;
          }

    </style>
</head>

<body>
    <!-- Nav bar -->
    <nav id="navbar" class="navbar navbar-expand-md navbar-transparent fixed-top" color-on-scroll="500">
        <div class="container">
            <div class="navbar-translate">
                <button class="navbar-toggler navbar-toggler-right navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar"></span>
                    <span class="navbar-toggler-bar"></span>
                    <span class="navbar-toggler-bar"></span>
                </button>
                <a class="navbar-brand" href="https://qhacks.io/">QHacks 2<i class="fa fa-heart heart"></i>18 </a>
            </div>
            <div class="collapse navbar-collapse" id="navbarToggler">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" rel="tooltip" title="Like Tim on Facebook" data-placement="bottom" href="https://www.facebook.com/CreativeTim" target="_blank">
                            <i class="fa fa-facebook-square"></i>
                            <p class="d-lg-none">Facebook</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" rel="tooltip" title="Follow Tim on Instagram" data-placement="bottom" href="https://www.instagram.com/CreativeTimOfficial" target="_blank">
                            <i class="fa fa-instagram"></i>
                            <p class="d-lg-none">Instagram</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" rel="tooltip" title="Star on GitHub" data-placement="bottom" href="https://github.com/chrismaltais/wherecouldihavegone" target="_blank">
                            <i class="fa fa-github"></i>
                            <p class="d-lg-none">GitHub</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="http://www.savethechildren.org/site/c.8rKLIXMGIpI4E/b.6153015/k.E633/Education.htm" target="_blank" class="btn btn-success btn-round">Donate</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Landing Page -->
    <div class="wrapper">
        <div class="page-header section-dark" style="background-image: url('img/antoine-barres.jpg')">
            <div class="filter"></div>
            <div class="content-center">
                <div class="container">
                    <div class="title-brand">
                        <h1 class="presentation-title">Where could I have gone?</h1>
                        <div class="fog-low">
                            <img src="img/fog-low.png" alt="">
                        </div>
                        <div class="fog-low right">
                            <img src="img/fog-low.png" alt="">
                        </div>
                    </div>

                   <!--  <h2 class="presentation-subtitle text-center">Connect with: </h2>
                    <div class="row">
                        <div class="col-md-5 ml-auto mr-auto download-area">
                            <center><a href="/authorize" class="btn btn-success btn-round btn-photo"></a></center>
                        </div>
                    </div> -->
                </div>
            </div>
            <h6 class="category category-absolute">Created by
                <a href="https://github.com/ACalverley/qhacks_2018" target="_blank"> the Qhackers </a>
                &
                <a href="https://www.creative-tim.com" target="_blank">Creative Tim </a>
            </h6>

            <!-- <div id="background-img" class="moving-clouds" style="background-image: url('img/clouds.png'); "></div>  -->
        </div>

        <!-- Main Map section -->
        <section id="maps">
        <div class="container" style="padding-left: 80px;">
            <div class="tim-title">
                <h2 padding=15px>Over the past 3 months, you have travelled
                    <%= distanceTraveled %> km</h2>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <!-- <div class="col-spaced"> -->
                    <div id="map1"></div>
                    <!-- </div> -->
                </div>
                <div class="col-md-4">
                    <div class="col-spaced">
                        <div class="card">
                            <div class="card-header">Distance History</div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">1 day</li>
                                <li class="list-group-item">1 week</li>
                                <li class="list-group-item" style="background: #51bcda;">3 months</li>
                                <li class="list-group-item">All time</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        </section>
        <div class="container" style="padding-left: 80px;">
            <hr>
            <div class="row" style="margin: auto;">

                <div class="col-md-4">
                    <div class="col-spaced">
                        <div class="card">
                            <div class="card-header"><b>Perspective</b></div>
                            <div class="card-body">

                                <p class="card-text">According to the Uganda Bureau of Statistics, Ugandan children have to walk an average of 12km a day for the opportunity to get an education. This would have been their trek, <b>soley for eductation</b>, over the past 3 months. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <!-- <div class="col-spaced"> -->
                        <div id="map2"></div>
                    <!-- </div> -->
                </div>

            </div>
        </div>
        <br>
    </div>

    <footer class="footer">
        <div class="container">
            <hr>
            <div class="credits ml-auto">
                <span class="copyright">
                                © <script>document.write(new Date().getFullYear())
                        </script>, The QHackers and Creative Tim
                        </span>
            </div>
        </div>
    </footer>
</body>
<!-- Javascript for NavBar -->
<script type="text/javascript">
    $(window).scroll(function() {
        var scroll = $(window).scrollTop();

        if (scroll >= 10) {
            $("#navbar").removeClass("navbar-transparent");
        } else {
            $("#navbar").addClass("navbar-transparent");
        }
    });
</script>

<!-- Grab Location From Browser -->
<!-- Left so that the location prompt can be toggled after accpeting - for testing-->
<!-- <script type="text/javascript">

if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(success, error);
} else {
    error('Geolocation not supported on this browser.')
}
</script> -->

</html>