<!DOCTYPE html>
<html>
<head>
	<title>Color Guessing Game</title>

	<link rel="stylesheet" type="text/css" href="/CSS/colorGame.css">

</head>
<body>
<div class="header">
	<h1 >THE GREAT </h2> 
	<h1 id="colorDisplay"></h1>
	<h1 >GUESSING GAME</h2>
</div>

<div class="subHeader">
	<button id="btnNewColors"></button>
	<span id="message"></span>
	<button class="difficulty" id="btnEasy"> <strong>EASY</strong> </button>
	<button class="difficulty" id="btnHard"> <strong>HARD</strong> </button>
</div>

<div id=container>
	<div class="square"></div>
	<div class="square"></div>
	<div class="square"></div>
	<div class="square"></div>
	<div class="square"></div>
	<div class="square"></div>
</div>


<script type="text/javascript" src="/JS/colorGame.js"></script>
</body>
</html>