<!DOCTYPE html>
<html lang="en">
 <head>
   <title>Drawing tools</title>
   <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
   <meta charset="utf-8">
   <style>
     /* Always set the map height explicitly to define the size of the div
      * element that contains the map. */
     #map {
       height: 100%;
     }
     /* Optional: Makes the sample page fill the window. */
     html, body {
       height: 100%;
       margin: 0;
       padding: 0;
     }
   </style>
 </head>
 <body>
   <div id="map"></div>
   <script>
     // This example requires the Drawing library. Include the libraries=drawing
     // parameter when you first load the API. For example:
     // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=drawing">

     function initMap() {
       var map = new google.maps.Map(document.getElementById('map'), {
         center: {lat: 44.227757, lng: -76.493007},
         zoom: 15
       });

     }
   </script>
   <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9YrkTByrWhKXp8wNIQ5w6IgoiCD2ae0w&libraries=drawing&callback=initMap"
        async defer></script>
 </body>

<!-- Grab Location From Browser -->
<script type="text/javascript">
function success(position) {
    /*
    axios.post('/userLocation', {
        userLat: position.coords.latitude,
        userLong: position.coords.longitude
    }).then((response) => {
        console.log(response);
    }).catch((error) => {
        console.log(error);
    })
    */
    let userLat = position.coords.latitude;
    let userLong = position.coords.longitude;
    console.log(userLat);
    console.log(userLong);
}

function error(msg) {
    console.log(msg);
}

if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(success, error);
} else {
    error('Geolocation not supported on this browser.')
}
</script>
</html>
