<!DOCTYPE html>
<html lang="en">
 <head>
   <title>Drawing tools</title>
   <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
   <meta charset="utf-8">
   <style>
     /* Always set the map height explicitly to define the size of the div
      * element that contains the map. */
     #map {
       height: 100%;
     }
     /* Optional: Makes the sample page fill the window. */
     html, body {
       height: 100%;
       margin: 0;
       padding: 0;
     }
   </style>
 </head>
 <body>
   <div id="map"></div>
   <script>
     // This example requires the Drawing library. Include the libraries=drawing
     // parameter when you first load the API. For example:
     // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=drawing">

     function initMap() {
       var map = new google.maps.Map(document.getElementById('map'), {
         center: {lat: 44.227757, lng: -76.493007},
         zoom: 15
       });

     }
   </script>
   <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCl1u3GqcX0yRLCGsKX0guO3q1tqEIeJ9k&libraries=drawing&callback=initMap"
        async defer></script>
 </body>
</html>